.weatherwear {
    width: 100%;
    height: 30rem;
    border: 2rem;

}

.weatherdashboard {
    width: 100%;
    height: 30rem;
    border: 2rem;
}

.codequiz {
    width: 100%;
    height: 30rem;
    border: 2rem;
}

.ezportal {
    width: 100%;
    height: 30rem;
    border: 2rem;
}

.suitpic {
    width: 40%;
    border-radius: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand-statement {
    padding-top: 3rem;
}