.weatherwear {
    width: 100%;
    height: 30rem;
    border: 2rem;

}

.weatherdashboard {
    width: 100%;
    height: 30rem;
    border: 2rem;
}

.codequiz {
    width: 100%;
    height: 30rem;
    border: 2rem;
}

.dayplanner {
    width: 100%;
    height: 30rem;
    border: 2rem;
}